* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-sedan: hsl(31, 77%, 52%);
  --color-suv: hsl(184, 100%, 22%);
  --color-luxury: hsl(179, 100%, 13%);
  --color-white-transp: hsla(0, 0%, 100%, 0.75);
  --color-gray: hsl(0, 0%, 95%);

  --font-header: 'Big Shoulders Display', sans-serif;
  --font-body-copy: 'Lexend Deca', sans-serif;
}

body,
.button {
  background-color: var(--color-gray);
}

img,
h2,
p {
  padding: 0 0 1.5rem 0;
}

h2 {
  color: var(--color-gray);
  font-family: var(--font-header);
  font-size: 2.5rem;
  text-transform: uppercase;
}

p,
.button,
.attribution {
  font-family: var(--font-body-copy);
}

p {
  color: var(--color-white-transp);
  font-size: 0.9375rem;
  line-height: 1.75;
}

.vertical-aligner,
.card-container {
  display: flex;
  flex-direction: column;
}

.vertical-aligner {
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 5.5rem 0;
}

.card-container {
  border-radius: 8px;
  overflow: hidden;
}

.card {
  padding: 3.125rem;
  width: 325px;
}

.card--sedan {
  background-color: var(--color-sedan);
}

.card--suv {
  background-color: var(--color-suv);
}

.card--luxury {
  background-color: var(--color-luxury);
}

.button {
  display: inline-block;
  border: 2px solid var(--color-gray);
  border-radius: 2rem;
  font-size: 0.9375rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out;
}

.button:hover {
  background-color: hsla(0, 0%, 100%, 0);
  color: var(--color-gray);
}

.button:active {
  background-color: var(--color-white-transp);
}

.button--sedan,
.button--sedan:active {
  color: var(--color-sedan);
}

.button--suv,
.button--suv:active {
  color: var(--color-suv);
}

.button--luxury,
.button--luxury:active {
  color: var(--color-luxury);
}

.attribution {
  color: var(--color-luxury);
  font-size: 9px;
  margin: 12px 0 0 0;
  text-align: center;
}

.attribution a {
  color: var(--color-luxury);
}

.attribution a:hover {
  color: var(--color-suv);
}

.attribution a:active {
  color: var(--color-sedan);
}

.sr-only { /* hides element visually while keeping its place in document flow for screen readers */
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: 375px) {
  .card-container {
    width: 86.67%;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  p {
    padding: 0 0 5.5rem 0;
  }

  .vertical-aligner {
    height: 100vh;
    min-height: 660px;
    padding: 0;
  }

  .card-container {
    flex-direction: row;
    width: 92%;
  }
}

@media (min-width: 992px) {
  .card-container {
    width: auto;
  }

  .card {
    padding: 3rem;
    width: 306px;
  }
}